$primary-blue: #171A25;
$secondary-blue: #103B8E;
$secondary-black: #171A25BF;
$primary-blue-hovered: #292F48;
$border-color: #76A0F0;
$green: #1DB56C;
$grey: #D3D4D9;
$bg-grey: #F8F8FA;
$text-grey: #A3A3A3;
$text-blue: #1C62EB;
$colar-red: #D24747;
$light-grey: #EBEBEB;
$border-grey: #BBBCC2;
