// @font-face {
//     font-family: 'Euclid Circular';
//     src: url('../assets/fonts/Euclid\ Circular\ B\ Light.ttf') format('truetype');
//     font-weight: light;
//     font-style: normal;
// }
  
  @font-face {
    font-family: 'Euclid Circular';
    src: url('../assets/fonts/Euclid\ Circular\ B\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
// @font-face {
//     font-family: 'Euclid Circular';
//     src: url('../assets/fonts/Euclid\ Circular\ B\ Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }